<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Editar Redirección</h4>
    </div>
    <form action="{{ path('admin_redirect_edit', {'redirect':entity.id}) }}" method="post" data-type="edit" data-reload="reload_admin_redirect" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ form_rest(form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
