{% extends ":backend:layout.html.twig" %}

{% block content_title %}
    <h3 class="page-title">Redirecciones</h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("backend") }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Redirecciones</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content -%}
    <div class="portlet light">
        <div class="portlet-body">
            <a href="{{ path("admin_redirect_new") }}" class="btn btn-circle btn-default pull-right iframe">
                <i class="fa fa-plus"></i> Nuevo
            </a>
            <table class="table table-bordered table-striped table-condensed reload_admin_redirect"
                   width="100%" id="ajax_table" data-url="{{ path("admin_redirect_json") }}">
                <thead>
                <tr>
                    <th width="20">#</th>
                    <th>URL Anterior</th>
                    <th>URL Nueva</th>
                    <th width="60"></th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
{% endblock %}
